body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

form {
  width: 40%;
  margin: 1rem;
  padding: 1rem;
  background-color: #7e73363d;
}

input {
  width: 50%;
  margin-bottom: 1rem;
}
.EmployeeList {
  margin: 1rem;
  padding: 1rem;
  background-color: #7e73363d ;
}
.AllEmployeeDivs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.avatar {
  width: 200px;
  height: 200px;
  margin-right: 2rem;
}
.EmployeeDiv {
  display: flex;
  box-sizing: border-box;
  width: 30%;
  margin: 1rem;
  padding: 1rem;
  background-color: #7e73363d;
}
.button {
  background-color: #7998c2;
  border: none;
  color: white;
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;
  cursor: pointer;
  max-height: 6rem;
}
